#login-sign-in-link{
	color: white;
}

.highcharts-yaxis-labels text{
	color: white;
}

.highcharts-container{
	margin: 0 auto;
}
.repo_icon,.fa,.fa-github{
	border-radius: 25%;
	height: 80px;
	width: 80px;
	margin-top: 100px;
	font-size: 50px;
	text-decoration: none;
	color: white;
}
.fa-external-link{
	margin-top: 5px;
}
.repo_icon:hover{
	color : lightblue;
}
