<template name="createGame">
	<div class="container">
		<div class="row">
			<div class="col s0 m3">&nbsp;</div>
			<div class="col s12 m6">
				<div class="card">
					<form class="text-center" id="newGameForm">
						<div class="card-content">
							<span class="card-title">Create Game</span><br>
							<label style="text-align: left; width: 100%;">Number of Players:</label>
							<input type="number" class="form-control" value="2" name="numberOfPlayers">
						</div>
						<div class="card-action">
							<button type="submit" class="btn btn-success">Create Game</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</template>